<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShortcutCarousel.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShortcutCarousel.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <ShortcutCarousel.Shell.Properties.Settings>
      <setting name="WindowWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="WindowStayOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CarouselUsersSavePath" serializeAs="String">
        <value>C:\temp</value>
      </setting>
    </ShortcutCarousel.Shell.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ShortcutCarousel.Shell.Properties.Settings>
      <setting name="DefaultLuminosity" serializeAs="String">
        <value>0.5</value>
      </setting>
    </ShortcutCarousel.Shell.Properties.Settings>
  </applicationSettings>
</configuration>
